<!DOCTYPE html>

<html lang="es">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-EP5MTFDM8X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-EP5MTFDM8X');
</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock%}</title>
    {% load static %}
    <meta name="description" content="Fotografia, fotos de estudio,fotos de ninños, infantil, newborn, familia, hermanitos, los recuerdos más importantes, guardados para siempre"/>
    <!--<link rel="icon" href="">poner imagen que quiero para que se vea en la solapa del navegador-->
    <!-- Bootstrap CSS -->
    
    
    <link rel="stylesheet" href=" {% static 'core/css/bootstrap.min.css' %}">
    <!-- animate CSS -->
    <link rel="stylesheet" href=" {% static 'core/css/animate.css' %}">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href=" {% static 'core/css/owl.carousel.min.css' %}">
    <!-- themify CSS -->
    <link rel="stylesheet" href="{% static 'core/css/themify-icons.css' %}">
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="{% static 'css/liner_icon.css' %}">
    <link rel="stylesheet" href=" {% static 'core/css/search.css' %}">
    <!-- style CSS -->
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="../../static/core/css/style.css">
    <!--fontawesome style-->
    <link rel="stylesheet" href=" {% static 'core/css/font-awesome.css'%}">
    <!-- wow - animate -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css"/>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playfair+Display&display=swap" rel="stylesheet">
</head>

<body>
    <!--::header part start::-->
    <header class="main_menu headerFondo">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <h1 class="logo">Vanesa Fernandez</h1>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation ">
                            <span class="navbar-toggler-icon "></span>
                        </button>

                        <div class="collapse navbar-collapse main-menu-item justify-content-center fondoVerde"
                            id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'about' %}">Sobre Mí</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Categorías
                                    </a>
                                    <div class="dropdown-menu headerFondo subMenu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{% url 'newborn' %}">Newborn</a>
                                        <a class="dropdown-item" href="{% url 'minibaby' %}">Mini Baby</a>
                                        <a class="dropdown-item" href="{% url 'fineart' %}">FineArt</a>
                                        <a class="dropdown-item" href="{% url 'brothers' %}">Hermanitos</a>
                                        <a class="dropdown-item" href="{% url 'maternity' %}">Maternidad</a>
                                        <a class="dropdown-item" href="{% url 'family' %}">Familia</a>
                                        <!-- <a  class="dropdown-item" href="{% url 'navidad' %}"><strong>Navidad</strong></a> -->
                                    </div>
                                </li>
                                <!--<li class="nav-item">
                                    <a class="nav-link" href="category.html">Categoria</a>
                                </li>-->
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact'%}">Contacto</a>
                                </li>
                                {% comment %} <li class="nav-item">
                                    <a class="nav-link" href="{% url 'news' %}">Noticias</a>
                                </li> {% endcomment %}
                                
                            </ul>
                        </div>
                        <div class="header_social_icon d-none d-lg-block">
                            <ul>
                                {%if LINK_FACEBOOK %}
                                <li><a href="{{LINK_FACEBOOK}}" class="d-none d-lg-block"> <i class="ti-facebook"></i></a></li>
                                {%endif%}
                                {%if LINK_WHATSAPP %}
                                <li><a href="{{LINK_WHATSAPP}}" class="d-none d-lg-block"> <i class="fa fa-lg fa-whatsapp"></i></a></li>
                                {%endif%}
                                {%if LINK_INSTAGRAM %}
                                <li><a href="{{LINK_INSTAGRAM}}" class="d-none d-lg-block"><i class="ti-instagram"></i></a></li>
                                {%endif%}
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header part end-->
    {%block banner%}{%endblock%}
    {%block content %}{%endblock%}
    

    <!-- social_connect_part part start-->
    <section class="social_connect_part">
        <div class="container-fluid">
            <div class="row padding_top">
                <div class="col-xl-12">
                    <div class="social_connect">
                    <div class="single-social_connect">
                        <div class="social_connect_img">
                            <img src="{% static 'core/img/insta/socalo1.jpg'%}" >
                            <div class="">
                            </div>
                        </div>
                    </div>
                    <div class="single-social_connect">
                        <div class="social_connect_img">
                            <img src="{% static 'core/img/insta/socalo2.jpg'%}" class="" alt="blog">
                            <div class="social_connect_overlay">
                            </div>
                        </div>
                    </div>
                    <div class="single-social_connect">
                        <div class="social_connect_img">
                            <img src="{% static 'core/img/insta/socalo7.jpg' %}" class="" alt="blog">
                            <div class="social_connect_overlay">
                            </div>
                        </div>
                    </div>
                    <div class="single-social_connect">
                        <div class="social_connect_img">
                            <img src="{% static 'core/img/insta/socalo4.jpg' %}" class="" alt="blog">
                            <div class="social_connect_overlay">
                                 
                            </div>
                        </div>
                    </div>
                    <div class="single-social_connect">
                        <div class="social_connect_img">
                            <img src="{% static 'core/img/insta/socalo5.jpg' %}" class="" alt="blog">
                            <div class="social_connect_overlay">
                                
                            </div>
                        </div>
                    </div>
                    <div class="single-social_connect">
                        <div class="social_connect_img">
                            <img src="{% static 'core/img/insta/socalo6.jpg' %}" class="" alt="blog">
                            <div class="social_connect_overlay">
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- social_connect_part part end-->

     <!-- footer part start-->
	<footer class="footer-area headerFondo">
		<div class="container">
			<div class="row">
				<div class="padFooter col-xl-4 col-lg-4 col-sm-12">
					<u><h3 class="text-rigth">Sobre Mí</h3></u>
					<p class="text-justify">Con más de 15 años en el rubro, seguimos ofreciendo las últimas novedades
                     en técnicas fotográficas 
                     y de edición para que tus recuerdos tengan la calidad que se merecen </p>
				</div>
				<div class="padFooter col-xl-4 col-lg-4 col-sm-12  ">
					<u><h3>Información de Contacto</h3></u>
					<ul>
						<li><p>Dirección :Olmos 240
								Oliva, Córdoba.</p></li>
						<li><p>Teléfono : 03532 - 15418628</p></li>
						<li><p>Email : foto-videovision@hotmail.com</p></li>
					</ul>
				</div>
				<div class=" padFooter col-xl-4 col-lg-4 col-sm-12">
					<u><h3>Conéctate</h3></u>
					<ul>
                        {%if LINK_FACEBOOK %}
						<li><a class="animated slower flash infinite" href="{{LINK_FACEBOOK}}">Facebook</a></li>
                        {% endif%}
                        {%if LINK_WHATSAPP %}
						<li><a class="animated slower flash delay-2s infinite " href="{{LINK_WHATSAPP}}">Whatsapp</a></li>
                         {% endif%}
                        {%if LINK_INSTAGRAM %}
						<li><a class="animated slower flash delay-3.5s infinite " href="{{LINK_INSTAGRAM}}">Instagram</a></li>
                         {% endif%}
					</ul>
				</div>
            </div>    
		</div>		
					
		<div class="copyright_text d-flex justify-content-center">
            <div class="subEnl">
                <u><a href="{% url 'cookies' %}" class="footer-text m-0">Cookies</a></u> <span class="px-2"> | </span> <u><a href="{% url 'conditions' %}" class="footer-text m-0"> Avisos Legales </a></u>
            </div>
		</div>
	</footer>
    <!-- footer part end-->

    <script src="{% static 'core/js/jquery-1.12.1.min.js' %} "></script>
    <!-- popper js -->
    <script src="{% static 'core/js/popper.min.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'core/js/bootstrap.min.js' %}"></script>
    <!-- custom js -->
    <script src="{% static 'core/js/custom.js' %}"></script>
    <!-- WOW -->
    <script src="{%static  'core/js/wow.min.js'%}"></script>
    <script> new WOW().init();  </script>

</body>


</html>