
  {% extends "core/about.html" %}
  {% load static%}
  {% block title %}Vanesa Fernandez Fotografía|Avisos Legales {% endblock %}
  {%block title_banner%}Avisos Legales{%endblock%}



    
	
	
	<!-- Start Sample Area -->
	{%block content%}
  <div style="width:100%" class="sample-text-area container modal-message">
  <div style="word-wrap: break-word" class="container box_1170">
	<h2 style="text-align: center" class= "padding_white ">  Avisos legales </h2>
    <p  style="word-wrap: break-word; text-align: justify; margin-left:30px; margin-right:80px ">
Disclaimer - Copyright
Copyright © 2020 de VanesaFernandez.com<br><br>

Todos los derechos reservados.<br><br>

Cualquier  forma no autorizada de distribución, copia, duplicación, reproducción, o venta (total o parcial) del contenido de esta web, tanto para uso personal como comercial, constituirá una infracción de los derechos de copyright.<br><br>

Al acceder a esta página web, confirmas estar familiarizado, comprender y aceptar totalmente el siguiente disclaimer y cláusula de derechos y exención de responsabilidades. De no ser así, debes abandonar esta web, por favor. .<br><br>


Todo el contenido de VanesaFernandez.com es "propiedad intelectual" de sus autores, y que por ello está protegido por las leyes que regulan los derechos de autor y de la propiedad intelectual. .<br><br>


Cualquier tipo de reproducción total o parcial de su contenido está totalmente prohibida, a menos que se solicite una autorización expresa, y por escrito a VanesaFernandez.com. .<br>


En cualquier caso se te considerará responsable de dicha acción y sus consecuencias legales, y deberás (bajo amenaza de denuncia y/o litigio) dar el reconocimiento que le corresponde a esta página web y a sus autores. Si no deseas solicitar autorización o si ésta te ha sido denegada, considérate no obstante autorizado a mencionar o dirigir a terceros hacia esta página mediante un hipervínculo o vínculo directo. .<br><br>


Los hechos, opiniones y puntos de vista que expresamos los autores de Corredordemontaña.com, son solamente nuestros, y no tienen por qué coincidir con la política, las ideas, intenciones, planes, estrategias, ni postura oficial de ningún organismo, empresa, compañía, organización, servicio, o persona. .<br><br>


Toda la información y los datos que proporcionamos tienen carácter puramente informativo. Los autores no nos hacemos responsables de su exactitud, actualización o validez, y por tanto estamos exentos de toda responsabilidad derivada de su incorrección, omisión, falta de actualización o retraso, así como de cualquier pérdida, o daño que pudiera causar su uso o exposición por parte de terceros (autorizados o no). Toda la información se proporciona "tal como está", sea correcta, acertada, o no; sin garantía alguna. <br><br>


Cuando utilicemos información procedente de fuentes externas para la elaboración de las entradas, dichas fuentes serán añadidas mediante un hipervínculo, o mencionadas de alguna manera para proporcionarles el reconocimiento que se merecen, lo que se hará igualmente con imágenes, etc. Nada en esta web será copiar y pegar de otra fuente, a menos que obtengamos su consentimiento. Si crees o sientes que estamos violando los derechos de autor de alguien, por favor dínoslo para remediarlo lo antes posible. <br><br>


Todas las marcas o derechos de cualquier tipo, nombres registrados, logos o insignias, usados o citados en esta web, son propiedad de sus respectivos dueños. Esta web de ninguna forma aceptará responsabilidad alguna derivada de su infracción. .<br>


Los comentarios (no confundir con entradas) que se pueden leer en esta web son responsabilidad única de las personas que los han escrito, éstas serán las únicas responsables de cualquier tipo de queja, daño o litigio que pudieran causar, bien de forma directa o indirecta. No garantizamos la corrección, veracidad ni exactitud de dichos comentarios, así como tampoco si son rudos, políticamente correctos o en cualquier forma inapropiados, aunque haremos todo lo posible por evitarlo. Puedes corregirnos si lo crees oportuno, estar en desacuerdo con nosotros, o preguntarnos tus dudas, pero por favor mantén la compostura ya que nos reservamos el derecho de borrar y/o modificar cualquier comentario por cualquier razón que nos venga en mente (inapropiados, fuera de tono, obscenos, insultantes, ridículos, etc.) Por favor sé educado. <br><br>


No tenemos control de la información a la que puedieras acceder a través de los enlaces externos que hay en nuestra web, en forma de vínculos o iconos en el propio texto, en la cabecera, pie de página, barras laterales, zona de comentarios, etc. No podemos garantizar la corrección, exactitud o validez de la información que proporcionan las web a las que dirigen dichos enlaces. No pertenecemos, trabajamos ni poseemos ninguna de ellas, ni ningún negocio que pudiera aparecer en ellas. 

  
    

</p>
 </div>
 </div>
			{%endblock%}
			
							


	 