{% extends "core/about.html" %}
  {% load static%}
  {% block title %}Vanesa Fernandez Fotografía|Contacto {% endblock %}
  {%block title_banner%}Upppsss{%endblock%}






{% block content %} 
<  <section class="page-section about-heading">
      <div class="container">
        <div class="about-heading-content mbtm">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5 forced">
                <h2 class="section-heading mb-4">
                  <span class="section-heading-lower">Ups....Algo no funcionó</span>
                </h2>
                <div class="section-content">
                    <p>Problamente haya inconvenientes con los servidores, inténtalo de nuevo; si vuelve a ocurrir prueba más tarde.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


{% endblock %}

  
  
    
